.blog-card {
  grid-column: 1/ -1;
  height: auto;
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0px 0px 20px #888888;
  margin: 20px 0px 20px 0px;
  padding: 40px 40px;
}
.blog-info {
  grid-column: 1/ -1;
  font-size: 14px;
}
.blog-tittle,
.read {
  color: var(--primary);
}
.image {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
.blog-info .user-info {
  width: 80%;
}
.readmore {
  text-align: right;
  color: black;
}
